@import '../../../../pwa/theme/common';

.pad {
  padding: $pad;
}
.pad2 {
  padding: $pad-2;
}
.pad3 {
  padding: $pad-3;
}
.pad4 {
  padding: $pad-4;
}
.pad1_2 {
  padding: $pad-1-2;
}
.pad1_3 {
  padding: $pad-1-3;
}
.pad1_4 {
  padding: $pad-1-4;
}
