@import '../../../theme/functions';
@import '../../primitives/Input/Input-style.module';
@import '../../primitives/Typo/Typo.module';

.messageBox {
  @extend .content-pragmatic;
  @include input-style;
  @include input-style-filled;
  border: 1px solid $col-panel-contrast-a50;
  padding: $pad-1-3 $pad-1-2;
  width: 100%;
  height: 6em;
}

.lineInput {
  width: 100%;
  @include tablet-plus {
    max-width: 20em;
  }
}

.buttonHolder {
  @include tablet-plus {
    display: inline-block;
  }
}