@import '../../../theme/functions';

.container {
  &.--inline {
    > ._label > ._labelText {
      margin-bottom: $pad-1-4;
    }
  }
  &.--side-by-side {
    > ._label {
      display: flex;
      align-items: center;

      > ._labelText {
      }
      > ._inputCtnr {
      }
    }
  }
}
