@import '../../../theme/functions';

.container {
}
.group {
  flex-grow: 1;
  @include mobile-only {
    width: 100%;
    flex-basis: 100%;
  }
  @include tablet-to-tablet-large {
    width: 33.33%;
    flex-basis: 33.33%;
  }
  @include desktop-small-plus {
  }

  > ._menu {
    > ._link {
      &:not(.--more) {
        color: transparentize($col-content-on-dark, 0.15);
      }
      line-height: 163%;
      display: inline-block;
    }
  }
}

.footer {
  @include tablet-plus {
    margin: 0 auto;
  }
  ._footerContent {
    @include tablet-plus {
      max-width: 550px;

    }
  }
}

.copyright {
  color: $col-content-caption-on-dark;
}
