@import '../../theme/variables';
@import '../../theme/functions';

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.__col_contrast {
    background-color: $col-panel-contrast-a20;
  }
  &.__col_dark {
    background-color: $col-panel-contrast-a20;
  }
}
.contentInner {
  width: 100%;
  max-width: 1100px;
  &:not(.--no-pad) {
    @include paddingHorizontal($pad);
    @include tablet-plus {
      @include paddingHorizontal($pad-3);
    }
  }
}

.paragraphContent {
  max-width: 45em;
  &.__centered {
    @include marginHorizontal(auto);
  }
}

.indentedContented {
  @include tablet-plus {
    @include marginHorizontal(auto);
    max-width: 40em;
  }
}

.section {
  @include paddingVertical($pad-2);
  @include tablet-plus {
    @include paddingVertical($pad-4);
  }
}
