@import '../../theme/variables';
@import '../../theme/functions';

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.__contrast {
    background-color: rgba($col-light-dk1, 0.75);
  }
  &.__dark {
    background-color: $col-panel-contrast-a70;
  }
}
.contentInner {
  width: 100%;
  max-width: 1200px;
  &.__textContent {
    max-width: 60em;
  }
  &:not(.--no-pad) {
    @include paddingHorizontal($pad);
    @include tablet-plus {
      @include paddingHorizontal($pad-3);
    }
  }
}

.indentedContented {
  @include marginHorizontal($pad);
  @include tablet-plus {
    @include marginHorizontal(auto);
    max-width: 40em;
  }
}

.section {
  @include paddingVertical($pad-2);
  @include tablet-plus {
    @include paddingVertical($pad-4);
  }
}
