@import '../../../theme/variables';
@import '../../../theme/functions';

$footer-min-height: 20px;

.container {
  background-color: $col-body-bg;
  min-height: 100vh;
}

.header-ctnr {
  background-color: $col-header-bg;
  position: relative;
  z-index: $zidx-header;

  &.__hasShadow {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  }
}

.header {
  height: $header-height;
  @include tablet-to-tablet-large {
    height: $header-height-md;
  }
  @include desktop-small-plus {
    height: $header-height-lg;
  }
  @include paddingVertical($pad-1-2);
}

.hero {
  height: 20vh;
  max-height: 20vw;
  background-image:
          linear-gradient(15deg, rgba(0, 0, 0, 0.7) 25%, rgba(0, 0, 0, 0) 55%),
          url("/images/site/windscreen-tracks-1920.jpg");
  background-size: 130%;
  background-position: 100% 35%;
}


.footer-ctnr {
  @include paddingVertical($footer-vPad);
  min-height: $footer-min-height;
  color: $col-footer-fg;
  background-color: $col-footer-bg;
}
