@import '../../../theme/functions';

.container {
  @include theme-light {
    border: 1px solid $col-form-guide-50;
    &.--padded {
      @include paddingHorizontal($fieldset-padding);
      padding-bottom: $fieldset-padding;
    }
  }

  > ._title > ._helpIcon {
    margin-left: $pad-1-4;
    text-transform: none;
  }
}
